<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h5 class="text-primary"><i></i>Student Management</h5>
        </a>
        <!-- Đây là thẻ hiển thị thông tin người dùng -->
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="{{ url_for('static', filename='img/user.jpg') }}" alt=""
                     style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Lê Trung</h6>
                <span>Admin</span>
            </div>
        </div>
        <!-- Kết thúc thẻ hiển thị thông tin người dùng -->

        <div class="navbar-nav w-100">
            <!-- Dashboard -->
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-tachometer-alt me-2"></i>Hệ thống
                </a>
                <div class="dropdown-menu bg-transparent border-0 ms-2">
                    <a href="search_user.html" class="dropdown-item">Quy định số cột điểm</a>
                    <a href="search_user.html" class="dropdown-item">Quy định số học sinh</a>
                    <a href="add_user.html" class="dropdown-item">Quy định độ tuổi</a>
                    <a href="add_user.html" class="dropdown-item">Tra cứu người dùng</a>
                    <a href="add_user.html" class="dropdown-item">Thêm mới người dùng</a>
                </div>
            </div>


            <!-- Quản lý học sinh -->
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-users me-2"></i>Học
                    Sinh</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/find-student" class="dropdown-item">Tra cứu học sinh</a>
                    <a href="/add-student" class="dropdown-item">Tiếp nhận học sinh</a>
                    <a href="add_student.html" class="dropdown-item">Lập danh sách lớp</a>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-table me-2"></i>Điểm</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="students.html" class="dropdown-item">Nhập điểm</a>
                    <a href="add_student.html" class="dropdown-item">Xuất điểm</a>
                </div>
            </div>

            <!-- Quản lý lớp học -->
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-school me-2"></i>Lớp
                    Học</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="classes.html" class="dropdown-item">Danh sách lớp học</a>
                    <a href="add_class.html" class="dropdown-item">Thêm lớp học mới</a>
                </div>
            </div>

            <!-- Quản lý môn học -->
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-book me-2"></i>Môn
                    Học</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="subjects.html" class="dropdown-item">Danh sách môn học</a>
                    <a href="add_subject.html" class="dropdown-item">Thêm môn học mới</a>
                </div>
            </div>

            <!-- Quản lý giáo viên -->
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-chalkboard-teacher me-2"></i>Giáo Viên</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="teachers.html" class="dropdown-item">Danh sách giáo viên</a>
                    <a href="teachers.html" class="dropdown-item">Thêm giáo viên</a>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-chart-bar me-2"></i>Báo cáo</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="teachers.html" class="dropdown-item">Báo cáo tổng kết theo môn</a>
                    <a href="add_teacher.html" class="dropdown-item">Báo cáo tổng kết theo lớp</a>
                </div>
            </div>


        </div>
    </nav>
</div>
