
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h5 class="text-primary"><i></i>Student Management</h5>
        </a>
        <a href="/">
            <h5 class="text-primary" style="text-align: center; padding: 5px;
                 letter-spacing: 1px; border-radius: 20px;  /* Làm bo tròn góc */
                 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);  /* Thêm bóng đổ nhẹ */
                 transition: transform 0.3s ease; margin:15px">
                Hệ Thống Quản Lý Học Sinh</h5>
        </a>

        <div class="navbar-nav w-100">
            <!-- Dashboard -->
             <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-tachometer-alt me-2"></i>Hệ thống</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="students.html" class="dropdown-item">Tra cứu người dùng</a>
                    <a href="add_student.html" class="dropdown-item">Xem quy định</a>
                </div>
            </div>
            <!-- Quản lý học sinh -->
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-users me-2"></i>Học Sinh</a>

            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-table me-2"></i>Điểm</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="students.html" class="dropdown-item">Nhập điểm</a>
                    <a href="add_student.html" class="dropdown-item">Xuất điểm</a>
                </div>
            </div>

            <!-- Quản lý lớp học -->
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-school me-2"></i>Lớp Học</a>

            </div>

            <!-- Quản lý môn học -->
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-book me-2"></i>Môn Học</a>

            </div>

            <!-- Quản lý giáo viên -->
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-chalkboard-teacher me-2"></i>Giáo Viên</a>

            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-chart-bar me-2"></i>Báo cáo</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="teachers.html" class="dropdown-item">Báo cáo tổng kết theo môn</a>
                    <a href="add_teacher.html" class="dropdown-item">Báo cáo tổng kết theo lớp</a>
                </div>
            </div>

            <!-- Sign Out    -->

        </div>
    </nav>
</div>
