 button {
    padding: 8px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px
 }
 button:hover {
    background-color: #0056b3;
 }

 body {
        font-family: Arial, sans-serif;
        background-color: #f4f6f9;
        margin: 0;
        padding: 20px;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    h1 {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
        text-align: center;
    }

.button-group {
    width: 100%;
    text-align: right; /* Căn nút sang bên phải */
}
    .btn-cancel {
        background-color: #dc3545;
        color: white;
    }
    .btn-cancel:hover {
        background-color: #c82333;
    }

ul.pagination {
        display: flex;
        justify-content: center; /* Căn giữa các nút phân trang */
        margin-top: 15px; /* Thêm khoảng cách phía trên */
        padding: 0;
    }

    ul.pagination li {
        margin: 0 5px; /* Thêm một chút khoảng cách giữa các nút */
    }

    ul.pagination .page-item {
        list-style: none;
    }

    ul.pagination .page-link {
        text-decoration: none;
        padding: 8px 16px; /* Điều chỉnh kích thước nút */
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f8f9fa;
        color: #007bff;
    }


    ul.pagination .page-link:hover {
        background-color: #007bff;
        color: white;
    }