{% extends 'layout/base.html' %}
{% block title %} Trang chủ {% endblock %}

{% block css %}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    .breadcrumb {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .breadcrumb a {
        text-decoration: none;
        color: #007bff;
    }
    .breadcrumb a:hover {
        text-decoration: underline;
    }
    .breadcrumb span {
        color: #6c757d;
    }
    .search-bar {
        margin-bottom: 20px;
    }
    .search-bar input[type="text"] {
        padding: 8px;
        width: 300px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
    table th, table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    table th {
        background-color: #f2f2f2;
    }
    .btn-edit {
        background-color: #ffc107;
        color: black;
    }
    .btn-edit:hover {
        background-color: #e0a800;
    }
    .search-bar select {
    padding: 10px;
    width: 120px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    }
    ul.pagination {
        display: flex;
        justify-content: center; /* Căn giữa các nút phân trang */
        margin-top: 15px; /* Thêm khoảng cách phía trên */
        padding: 0;
    }

    ul.pagination li {
        margin: 0 5px; /* Thêm một chút khoảng cách giữa các nút */
    }

    ul.pagination .page-item {
        list-style: none;
    }

    ul.pagination .page-link {
        text-decoration: none;
        padding: 8px 16px; /* Điều chỉnh kích thước nút */
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f8f9fa;
        color: #007bff;
    }


    ul.pagination .page-link:hover {
        background-color: #007bff;
        color: white;
    }
</style>

{% endblock %}
{% block sidebar %}
{% include 'layout/sidebar-admin.html' %}
{% endblock %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <!-- Thanh Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('find_student_page') }}">Học sinh</a></li>
                <li class="breadcrumb-item"><a>Tra cứu học sinh</a></li>
            </ol>
        </nav>
        <h1>Tra cứu học sinh</h1>
        <div class="search-bar">
            <form>
                <input type="text" name="key-name" placeholder="Tên học sinh cần tìm...">
                <select name="class_id">
                    <option value="">Tất cả lớp</option>
                    {% for cls in classes %}
                    <option value="{{ cls.id }}" {% if cls.id== request.args.get('class_id')|int %}selected{% endif %}>
                    {{ cls.name }}
                    </option>
                    {% endfor %}
                </select>
                <button>Tìm kiếm</button>
            </form>
        </div>
        <table>
            <thead>
            <tr>
                <th>Mã HS</th>
                <th>Họ và Tên</th>
                <th>Lớp</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
                <th>Chi tiết</th>
            </tr>
            </thead>
            <tbody>
            {% for sc, s, c in students %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.name }}</td>
                <td>{{ c.name }}</td>
                <td>{{ s.gender }}</td>
                <td>{{ s.date_of_birth }}</td>
                <td>
                    <a href="{{ url_for('student_detail', student_id=s.id) }}">
                        <button>Xem</button>
                    </a>
                    <a href="{{ url_for('student_update', student_id=s.id) }}">
                        <button class="btn btn-edit">Cập nhật</button>
                    </a>
                    <a href="{{ url_for('student_delete', student_id=s.id) }}">
                        <button class="btn-cancel">Xóa</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul class="pagination">
            {% for idx in range(1, pages+1) %}
            <li class="page-item {% if idx == page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('find_student_page', page=idx) }}">{{ idx }}</a>
            </li>
            {% endfor %}
        </ul>


    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButtons = document.querySelectorAll(".delete-btn");

        deleteButtons.forEach(button => {
            button.addEventListener("click", function () {
                const id = this.getAttribute("data-id");

                if (confirm("Bạn có chắc chắn muốn học sinh này?")) {
                    fetch(`/delete-student/${id}`, {
                        method: 'DELETE'
                    })
                        .then(response => {
                            if (response.ok) {
                                this.closest('tr').remove(); // Xóa hàng khỏi bảng nếu thành công
                                alert("Đã xóa thành công!");
                            } else {
                                alert("Xóa không thành công. Vui lòng thử lại.");
                            }
                        })
                        .catch(error => console.error("Error:", error));
                }
            });
        });
    });
</script>


{% endblock %}

