{% extends 'layout/base.html'%}
{% block title %} Trang chủ {% endblock %}
{% block sidebar %}
    {% include 'layout/sidebar-admin.html'%}
{% endblock %}

{% block content %}
<!-- Student Statistics Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-users fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">New Students</p>
                    <h6 class="mb-0">25</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-graduation-cap fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Students</p>
                    <h6 class="mb-0">1,234</h6>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chalkboard-teacher fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Teachers</p>
                    <h6 class="mb-0">45</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-school fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Classes</p>
                    <h6 class="mb-0">50</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-book fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Subjects</p>
                    <h6 class="mb-0">20</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Student Statistics End -->

<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <!-- Biểu đồ Số lượng học sinh qua từng năm học -->
        <div class="col-sm-12">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Số lượng học sinh qua từng năm học</h6>
                    <a href="">Chi tiết</a>
                </div>
                <canvas id="student-chart"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- Sales Chart End -->


{% endblock %}




