{% extends 'layout/base.html'%}
{% block title %} Trang chủ {% endblock %}

{% block css %}

{% endblock %}

{% block sidebar %}
{% include 'layout/sidebar-admin.html'%}
{% endblock %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <!-- Thanh Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Hệ thống</a></li>
                <li class="breadcrumb-item"><a href="/find-student">Quy định số cột điểm</a></li>
            </ol>
        </nav>
        <h3>Danh sach nguoi dung</h3>


    </div>
</div>
{% endblock %}




