{% extends 'layout/base.html'%}
{% block title %} Trang chủ {% endblock %}

{% block css %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    input {
        border: 2px solid black;
        border-radius: 4px;
    }

    .button-container {
        margin-top: 10px;
        text-align: right; /* Căn nút sang bên phải */
    }

    .edit-input {
        width: 100%; padding: 8px; margin-top: 5px; border: 1px solid black; border-radius: 4px;
    }
</style>
{% endblock %}

{% block sidebar %}
{% include 'layout/sidebar-admin.html'%}
{% endblock %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <!-- Thanh Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Hệ thống</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('score_regulations_page') }}">Quy định số cột điểm</a></li>
                <li class="breadcrumb-item">Thêm mới điểm</li>
            </ol>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <h3>Quy định cột điểm</h3>
        <form action="{{ url_for('new_score_regulation') }}" method="post" id="scoreForm" novalidate>
            <div style="max-width: 200px; margin: 0 auto;"> <!-- Tạo container để căn giữa -->
                <div style="margin-bottom: 20px;">
                    <label for="score_type">Loại điểm</label>
                    <input type="text" id="score_type" class="edit-input" name="score_type" required>
                </div>

                <div style="margin-bottom: 20px;">
                    <label for="score_quantity">Số cột điểm</label>
                    <input type="number" id="score_quantity" class="edit-input" name="score_quantity" min="1" max="10"
                           step="1" required>
                </div>

                <div style="margin-bottom: 20px;">
                    <label for="coefficient">Hệ số</label>
                    <input type="number" id="coefficient" class="edit-input" name="coefficient" min="1" max="10"
                           step="1" required>
                </div>

                <div class="button-container"
                     style="text-align: center; display: flex; justify-content: center; ">
                    <button type="submit" id="save-new-score"
                            style="flex: 1;padding: 10px 10px; background-color: #007bff; color: white; border: none; border-radius: 4px; cursor: pointer; font-size: 16px; transition: background-color 0.3s ease;">
                        Lưu
                    </button>
                    <button id="add-button" type="button"
                            style="flex: 1; padding: 10px 10px; background-color: #007bff; color: white; border: none; border-radius: 4px; font-size: 16px; transition: background-color 0.3s ease;">
                        <a href="{{ url_for('score_regulations_page') }}" style="text-decoration: none; color: white;">Quay
                            lại</a>
                    </button>
                </div>

            </div>
        </form>


        <!-- JavaScript kiểm tra dữ liệu -->
        <script>
            document.getElementById('scoreForm').addEventListener('submit', function (event) {
                const scoreTypeInputs = document.querySelectorAll('input[name="score_type"]');
                const scoreQuantityInputs = document.querySelectorAll('input[name="score_quantity"]');
                const coefficientInputs = document.querySelectorAll('input[name="coefficient"]');
                let isValid = true;
                let errorMessage = '';

                // Kiểm tra các ô "Loại điểm" (score_type)
                scoreTypeInputs.forEach(input => {
                    if (input.value.trim() === '') {
                        isValid = false;
                        errorMessage = 'Vui lòng nhập loại điểm!';
                    }
                });



                // Nếu có lỗi, hiển thị thông báo và ngăn gửi form
                if (!isValid) {
                    event.preventDefault();
                    alert(errorMessage);
                }
            });
        </script>


    </div>
</div>

{% block js %}

{% endblock %}

{% endblock %}




