{% extends 'layout/base.html'%}
{% block title %} Trang chủ {% endblock %}

{% block css %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    table th, table td {
        text-align: center;
        padding: 12px;
        border: 1px solid #ddd;
    }

    table th {
        background-color: #f8f9fa;
        color: #333;
        font-weight: bold;
    }

    table tr:hover {
        background-color: #f1f1f1;
    }

    .btn-edit {
        background-color: #ffc107;
        color: black;
    }
    .btn-edit:hover {
        background-color: #e0a800;
    }
    .search-bar {
        margin-bottom: 20px;
    }
    .search-bar input[type="text"] {
        padding: 8px;
        width: 300px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>

{% endblock %}

{% block sidebar %}
{% include 'layout/sidebar-admin.html'%}
{% endblock %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <!-- Thanh Breadcrumb -->
        <nav aria-label="breadcrumb">

        </nav>
        <div class="container">
            <h1>Danh Sách Giáo Viên</h1>
            <table>
                <thead>
                <tr>
                    <th>Mã Giáo Viên</th>
                    <th>Tên Giáo Viên</th>
                    <th>Môn Dạy</th>
                    <th>Thao Tác</th>
                </tr>
                </thead>
                <tbody>
                {% for t in teachers %}
                <tr>
                    <td>{{t.teacher_id}}</td>
                    <td>{{t.user}}</td>
                    <td>{{t.subject.name}}</td>
                    <td class="action-btns">
                        <a href="{{ url_for('teacher_detail', teacher_id=t.teacher_id) }}">
                            <button>Xem</button>
                        </a>
                        <a href="{{ url_for('teacher_update', teacher_id=t.teacher_id) }}">
                            <button class="btn btn-edit">Cập nhật</button>
                        </a>
                        <a href="{{ url_for('delete_teacher', teacher_id=t.teacher_id) }}">
                            <button class="btn-cancel">Xóa</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
</div>
{% endblock %}





